:root {
    /* Colors */
    --primary-color:#3319FF;
    --secondary-color: #FFD8F1;
    --accent-color: #383FF7;
    --light-color: white;
    --dark-color: #1B2572;

    /* Spacing */
    --padding-block: clamp(1.5rem, 0.6304rem + 4.3478vw, 4rem);
    --padding-inline: clamp(1rem, 0.9847rem + 24.5359vw, 20rem);
    --section-spacing: var(--padding-block) var(--padding-inline);
    --mobile-padding: 1.5rem;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    background-color: #FFFFF4;
    color: var(--dark-color);
}

/* Header Styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem;
    box-shadow: 0 2px 5px #35102B1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-image: linear-gradient(-45deg, #3319FF, #FFD8F1);
}

h2{
    text-align: center;
    padding-bottom: 1rem;
    color: var(--primary-color);
    font-size: clamp(1.5rem, 1.4996rem + 0.6457vw, 2rem);
}

h3{
    text-align: center;
    padding-bottom: 1rem;
    color: var(--accent-color);
    font-size: clamp(1.5rem, 1.4996rem + 0.6457vw, 2rem);
}

.home-logo {
    height: 40px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.menu__item a {
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 8px;
    color: #F5F8FF;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu__item a:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
}

@media (max-width: 768px) {
    .menu {
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 1rem;
    }

    .menu {
        flex-direction: column;
        text-align: center;
    }
}

/* Hero Section */
.hero {
    min-height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--section-spacing);
    object-fit: cover;
}

.hero__background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero__container{
    position: absolute;
    z-index: 2;
    bottom: clamp(2.25rem, 0.9457rem + 6.5217vw, 6rem);
    left: clamp(2.5rem, 1.6304rem + 4.3478vw, 5rem);
    right: clamp(2.5rem, 1.6304rem + 4.3478vw, 5rem);
    text-align: start;
    line-height: clamp(1.5rem, 1.4988rem + 1.937vw, 3rem);
}

.hero__title {
    color: var(--light-color);
    font-size: clamp(1.5rem, 0.1087rem + 6.9565vw, 5.5rem);
    font-weight: 700;
    margin-bottom: clamp(0.625rem, 0.4511rem + 0.8696vw, 1.125rem);
    text-shadow: 2px 2px 2.5px rgba(12, 12, 12, 0.25);
  }
  
  .hero__text {
    color: var(--secondary-color);
    font-size: clamp(1rem, 0.4783rem + 2.6087vw, 2.5rem);
    font-weight: 500;
    text-shadow: 2px 2px 2.5px rgba(12, 12, 12, 0.25);
    margin-bottom: clamp(0.5rem, 0.3261rem + 0.8696vw, 1rem);
  }

/* Features Section */
.features {
    /* padding: var(--section-spacing); */
    padding: 2rem clamp(0rem, -0.0161rem + 10.8273vw, 20rem);
}

.features__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.features__card {
    padding: 2rem;
    text-align: center;
    border: 1px solid #F0BBDE;
    border-radius: 8px;
    box-shadow: 0 2px 10px #35102B1a;
    transition: transform 0.3s ease;
    background-color: var(--light-color);
}

.features__card:hover {
    transform: translateY(-5px);
}


@media (max-width: 1400px) {

    .features__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .features__container {
        grid-template-columns: 1fr;
    }
}

/* Bio Section */
.bio {
    /* padding: var(--section-spacing); */
    padding: clamp(1rem, 0.9968rem + 5.1655vw, 5rem) clamp(0rem, -0.0161rem + 10.8273vw, 20rem);
}

.bio__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.bio__photo{
    text-align: center;
}

.bio__text{
    line-height: clamp(1rem, 0.9984rem + 2.5827vw, 3rem);
}

.bio__img{
    width: 65%;
    height: auto;
    border-radius: 16px;
}

@media (max-width: 1200px) {

    .bio__wrapper {
        grid-template-columns: 1fr;
    }
}

/* Projects Section */
.projects {
    /* padding: var(--section-spacing); */
    padding: 2rem clamp(0rem, -0.0161rem + 10.8273vw, 20rem);
}

.projects__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Force 4 columns */
    gap: 2rem;
}

.project__card {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px #35102B1a;
    background-color: var(--light-color);
    border: 1px solid #F0BBDE;
}

.project__photo{
    display: block;
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.project__link{
    display: block;
    margin-top: 1rem;
        padding: 0.5rem 0.5rem;
        width: 50%;
        text-align: center;
        background: var(--primary-color);
        color: var(--light-color);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s ease;
        font-weight: 500;
        text-decoration: none;
}

.project__link:hover{
        background:var(--accent-color);
}

@media (max-width: 1400px) {

    .projects__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projects__container {
        grid-template-columns: 1fr;
    }
}

/* CTA Section */
.cta {
    /* padding: var(--section-spacing); */
    padding: clamp(1rem, 0.9968rem + 5.1655vw, 5rem) clamp(0rem, -0.0161rem + 10.8273vw, 20rem);
}

.cta__form {
    border-radius: 16px;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFF4FC;
}

.cta__form input {
    padding: 0.8rem;
    border: 1px solid #F0BBDE;
    border-radius: 4px;
}

.cta__button {
    padding: 1rem 2rem;
    background: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size:larger;
}

.cta__button:hover{
    background:var(--accent-color);
}

/* Footer */
footer {
    background-image: linear-gradient(45deg, #3319FF, #FFD8F1);
    padding: var(--section-spacing);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.contact__title {
    /* font-size: clamp(0.875rem, 0.8747rem + 0.4843vw, 1.25rem); */
    text-decoration: underline;
    color: var(--clear);
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    color: #F5F8FF;
  }

footer ul {
    list-style-type: none;
    padding: 0;
    color: #FFF4FC;
    font-size: 1rem;
    & li.footer__list {
      margin-bottom: 0.5rem;
    }
  }
  
  footer a {
    text-decoration: none;
    font-size: clamp(0.75rem, 0.7498rem + 0.3228vw, 1rem);
    transition: color 0.15s ease;
    color: #FFF4FC;
    &:hover {
      color: var(--light-color);
    }
    &:hover svg{
      fill: var(--light-color);
    }
  }

.footer__icon {
    fill: #F5C9E5;
    width: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
    height: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
    margin-right: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
    transition: color 0.15s ease;
  }
  
  .footer__icon--insta,
  .footer__icon--link,
  .footer__icon--git,
  .footer__icon--be {
    fill: #FFF4FC;
    transition: color 0.15s ease;
    width: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
    height: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
    margin-right: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
    transition: fill 0.2s ease;
  }
  
  .rrss__link {
    display: inline-block;
    padding-right: 0.5rem;
  }
/* Responsive Design */
@media (max-width: 768px) {

    footer {
        grid-template-columns: 1fr;
    }
}